<div class="container">
  <div class="login-page">
    <div class="form">
      <div v-if="!registerForm.active" class="login-form">
        <h1>Sign In</h1>
        <form class="form-group" @submit.prevent="login">
          <input
            v-model="loginForm.email"
            type="email"
            placeholder="Email"
            required
          />
          <input
            v-model="loginForm.password"
            type="password"
            placeholder="Password"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          />
          <button class="btn btn-primary">Login</button>
          <p>
            Don't have an account?
            <a href="#" @click="registerForm.active = !registerForm.active"
              >Sign up here</a
            >
          </p>
        </form>
      </div>

      <div v-else class="card register">
        <h1>Sign Up</h1>
        <form class="form-group" @submit.prevent="register">
          <input
            v-model="registerForm.username"
            type="text"
            placeholder="Name"
            required
          />
          <input
            v-model="registerForm.email"
            type="email"
            placeholder="Email"
            required
          />
          <input
            v-model="registerForm.password"
            type="password"
            placeholder="Password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            required
          />
          <button class="btn btn-primary">Sign Up</button>
          <p>
            Already have an account?
            <a href="#" @click="registerForm.active = !registerForm.active"
              >Sign in here</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
