@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
}
input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent !important;
  padding: 12px;
  font-size: 17px;
  margin-left: 16px;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 15px;
  border-radius: 30px;
  background-color: #ff5945;
  color: #fff;
  font-size: 16px;
  transition: all 0.25s ease;
  width: 10rem;
}
button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 400px) {
  button {
    padding: 15px;
    border-radius: 0 30px 30px 0;
  }
}
