/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dfdfdf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 4px;
  border: 3px solid #ffffff;
}

.scrollable-cont {
  overflow-y: auto;
  height: 352px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 17px;
  padding: 12px;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  text-align: left;
  background: #f6fbff;
  border-radius: 8px;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.item {
  display: flex;
}

.status-icon {
  cursor: pointer;
  margin-right: 20px;
  font-size: 1.2rem;
}

.status-icon.completed {
  color: green;
}

.todo-text {
  transition: color 0.3s ease;
  width: 16em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todo-text:hover {
  color: #007bff;
}

.completed.todo-text {
  text-decoration: line-through;
  color: #888;
}

.todo-edit {
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action {
  position: absolute;
  right: 12px;
}

.btn {
  font-size: 15px;
  margin-left: 8px;
  padding: 4px 8px;
  background: #0b1565b8;
  border-color: #153677;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn.save {
  background: #43a047;
  border-color: #2bc232;
}

.btn.cancel {
  background: #848484;
  border-color: #5b5b5b;
}

.btn.edit {
  background: #008b8b;
  border-color: #37adad;
}
