<div class="scrollable-cont">
  <ul>
    <li
      v-for="(todo, todoIndex) in todos"
      :key="(todo, todoIndex)"
      class="todo-item"
    >
      <span
        class="status-icon"
        @click="updateTodo(todo)"
        :class="{ completed: todo.completed }"
        title="Update todo"
      >
        {{ todo.completed ? '✔️' : '⭕' }}
      </span>
      <span :class="{ completed: todo.completed }" class="todo-text">
        {{ todo.title }}
      </span>
      <div class="action">
        <button class="btn" @click="deleteTodo(todo._id, todoIndex)">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
